# Carpetas que no deben ir al contenedor
__pycache__/
*.py[cod]
.env
venv/
env/
*.sqlite3
*.db
*.log
.idea/
.vscode/
node_modules/
*.zip
*.tar.gz

# Archivos temporales o de sistema
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Archivos específicos del proyecto
static/estudios/*
*.pdf
*.jpg
*.png
*.jpeg

# Archivos de test
test_*.py
tests/
