<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Invitación Florencia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/tarjeta_florencia.css">
</head>
<body>
  <div class="fondo-animado"></div>
  <div class="contenido">
    <div id="animacion-vals" class="dancers">💃🏻🕺</div>
    <h1 class="nombre">María Florencia Pérez</h1>
    <div id="contador" class="contador"></div>
  </div>
  <script src="/static/js/tarjeta_florencia.js"></script>
</body>
</html>
